body {
    background-image: url(../../Pictures/Produktseiten/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 120vh;
}

.fairpicture {
    position: relative;
    left: 30%;
}