body {
    background-image: url(../../Pictures/Produktseiten/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 120vh;
}

.title-wrapper {
    left: 40vw;
    top: -15vh;
}